{% extends 'base.html' %}

{% block title %}
Home
{% endblock title %}

{% block body %}

<!-- Starting Carausal: -->

<div class='container my-4'>
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="static/img/todo1.jpg" class="d-block w-100" alt="Todo Image" style="
              border-radius: 11px;
          ">
      </div>

    </div>
  </div>
</div>

<!-- Starting Form: -->

<div class='container my-4'>
  <h1 class="text-center" style="
        background-color: blanchedalmond;
        border-radius: 11px;
        
    "> Add Todo's</h1>
  <form action="/" method="POST" style="
        background-color: blanchedalmond;
        border-radius: 11px;
        padding: 10px;
    ">
    <div class="form-group">
      <label for="title">Your Todo's Title</label>
      <input type="text" class="form-control" id="title" name="title" aria-describedby="emailHelp"
        placeholder="Enter your Todo's Title">

    </div>
    <div class="form-group">
      <label for="desc">Todo's Description</label>
      <input type="text" class="form-control" id="desc" name="desc" placeholder="Enter your Todo's Description">
    </div>
    <div class="form-group">
      <label for="newcol">newcol</label>
      <input type="text" class="form-control" id="newcol" name="newcol" placeholder="Enter your anything">
    </div>

    <!-- <button type="submit" class="btn btn-danger">Submit</button> -->
    <button type="submit" class="btn btn-outline-danger">Submit</button>
  </form>
</div>

<!-- Starting Table: -->

<div class="container" style="
      background-color: blanchedalmond;
      border-radius: 11px;
  ">
  <h1 class="text-center">Your Todo's</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
        <th scope="col">newcol</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if allTodo|length == 0 %}
      <div class="alert alert-dark" role="alert">
        No records right now. Please add some records.
      </div>
      {% endif %}

      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.title}}</td>
        <td>{{todo.desc}}</td>
        <td>@{{todo.date_created}}</td>
        <td>@{{todo.newcol}}</td>
        <td><a href="/update/{{todo.sno}}" type="button" id="button1" class="btn btn-danger btn-sm">Update</button></td>
        <td><a href="/delete/{{todo.sno}}" type="button" id="button2" class="btn btn-danger btn-sm">Delete</button></td>
      </tr>
      {% endfor %}


    </tbody>
  </table>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock body %}